/*.containerleft__fishCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;;
}

.fishcard {
    border-radius: 35px;
    background-color: whitesmoke;
    border: solid darkslategrey;
    display: flex;
    padding: 2px;
    /*flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-basis: 30%;*/
/*}*/

/*.fishcard__photo {
    width: 300px;
    height: 200px;
    border-radius: 60px;
}

.fishcard__species {
    font-weight: bold;
    
}


.fishcard p img {
    flex: 1 1 auto;
}*/


/* Above is my first attempt, below is learning code from imitating peer*/


.containerLeft__fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
    
}

.fishCard {
    border: solid darkslategrey;
    border-radius: 35px;
    padding: 2px;
    background-color: mediumpurple;
    margin: 8px;
    font-size: 20px;
    box-shadow: 10px 10px 5px darkslategray;
}

.fish__image {
    width: 300px;
    height: 200px;
    border-radius: 60px;
    
}