/*.contentLeft__travelQuotes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    background-color: lightgray;

}

.quotesCard {


}


.quotesCard {
    /* border: 1px solid black;
    flex: 1 1 auto;
    text-align: center;*/
   /* margin: 4px;*/
/*}*/

/*.quotesCard__img {
    width: 400px;
    height: 300px;
    box-shadow: 10px 10px 5px grey;

}*/

/* Above is my first attempt, below is learning code from imitating peer*/

.containerLeft__travelQuotes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    background-color: lavenderblush;
}

.quoteCard {
    margin: 4px;
    
}

.quoteCardImg {
    width: 400px;
    height: 300px;
    box-shadow: 10px 10px 5px grey;
    
}