/*.containerLeft__travelList {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;;

}

.locationCard {
    margin: 4px;
}

.locationImg {
    box-shadow: 10px 10px 5px darkslategray;
    height: 250px;
    width: 350px;
}*/


/* Above is my first attempt, below is learning code from imitating peer*/

.containerLeft__travelLocations {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
}

.locationCard {
margin: 4px;
}

.locationImg {
box-shadow: 10px 10px 5px darkslategray;
height: 250px;
width: 350px;
}